<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.LibTiff.NET" version="2.4.649" targetFramework="net48" />
  <package id="EvoPdf" version="10.0.0" targetFramework="net48" />
  <package id="ExpertPdfHtmlToPdf" version="18.0.0" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.23.0" targetFramework="net48" />
  <package id="Grpc" version="2.46.6" targetFramework="net48" />
  <package id="Grpc.Core" version="2.46.6" targetFramework="net48" />
  <package id="Grpc.Core.Api" version="2.46.6" targetFramework="net48" />
  <package id="IronPdf" version="2023.10.3" targetFramework="net48" />
  <package id="IronPdf.Extensions.ASPX" version="2023.9.5" targetFramework="net48" />
  <package id="IronPdf.Native.Chrome.Windows" version="2023.9.19098" targetFramework="net48" />
  <package id="IronPdf.Slim" version="2023.10.3" targetFramework="net48" />
  <package id="IronSoftware.Common" version="2023.9.6" targetFramework="net48" />
  <package id="IronSoftware.Native.PdfModel" version="2023.9.18743" targetFramework="net48" />
  <package id="IronSoftware.System.Drawing" version="2023.9.2" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="NReco.PdfGenerator" version="1.2.1" targetFramework="net48" />
  <package id="PuppeteerSharp" version="12.0.0" targetFramework="net48" />
  <package id="Select.HtmlToPdf.NetCore" version="23.1.0" targetFramework="net48" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net48" />
  <package id="SixLabors.ImageSharp" version="2.1.5" targetFramework="net48" />
  <package id="SixLabors.ImageSharp.Drawing" version="1.0.0" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="23.1.41" targetFramework="net48" />
  <package id="Syncfusion.HtmlToPdfConverter.WinForms" version="23.1.41" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="23.1.41" targetFramework="net48" />
  <package id="Syncfusion.Pdf.WinForms" version="23.1.41" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Winnovative.HtmlToPdf" version="17.0.0" targetFramework="net48" />
</packages>